---
layout: default
---

<div class="home">
  <section class="post-list">
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts %}
      <li class="post-item">
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}"
            >{{ post.title }}</a
          >
        </h3>
        {% if post.description %}
        <p class="post-description">{{ post.description }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
